<div class="center hero-unit">
	<h1>Drunk Skunk</h1>
	<p>
	  This is the home page for the
	  <a href="http://brew.lonkastenson.com">Drunk Skunk</a>
	  sample application.
	</p>
  <%= link_to "View list of beers!", all_beers_path, class: "btn btn-large btn-primary" %>

  <em>In progress...</em>
  <%= link_to "Add a new beer!", create_beer_path, class: "btn btn-large btn-danger" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>