# Ignore bundler config.
/.bundle

# Ignore the default SQLite/Postgres database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/database.yml
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
bundler_stubs/
.secret
.brewery_db_api
db_stuff.txt